.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo{
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 4px;
}

.logo > img{
  height:55px;
  width:55px;
  
}
.logo > h1{
  font-size: 25px;
  color:#1DB954;
}

.signup{
  display: flex;
  gap: 28px;
  width:100%
  
}

.signup>a{
   color:white;
   text-decoration: none;
   background: #1DB954;
   border-radius: 12px;
   padding:5px
}
