.body{
    flex:0.8;
    background-image: linear-gradient(#1fa0db,rgba(0,0,0,1));
    padding-left: 20px;
    overflow-y: overlay;
    height: 100vh;
    

    
}
.body__banner{
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
     
}

.body__banner>img{
   /* width: 250px;
   height: 230px; */
   box-shadow:0 4px 60px rgba(0,0,0,0.5);
   height: 18vw;
   margin: 0 18px;
}

.body__banner__info{
    padding-left: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body__banner__info>h1{
    font-size: 65px;
    margin-block-start: 0px;
    margin-block-end: 12px;
}
.body__banner__info>p{
    font-size: 15px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.body__icons{
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    gap: 10px;
    padding-left: 12px;
}
.body_songrow{
    margin-top: 25px;
    padding-bottom: 90px;
  
}