.body{
    flex:0.8;
    background-image: linear-gradient(#1fa0db,rgba(0,0,0,1));
    padding-left: 20px;
}
.body__banner{
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    
    
}
.body__banner>img{
   /* width: 250px;
   height: 230px; */
   box-shadow:0 4px 60px rgba(0,0,0,0.5);
   height: 18vw;
}

.body__banner__info{
    padding-left: 12px;
    color: white;
}

.body__banner__info>h1{
    font-size: 55px;
}
.body__banner__info>p{
    font-size: 15px;
}

.body__icons{
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    gap: 10px;

}