.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 65px;
    padding: 20px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer__left{
   display: flex;
   align-items: center;
   color: white;
}

.footer__left > img{
   height: 60px;
   width: 60px;
   padding-right: 10px;
}


.footer__center{
   color: rgb(161, 158, 158);
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 12px;
}

.footer__play{
   color: white;
}