.SidebarOptions{
    display: flex;
    align-items: center;
    color: #a1a0a0;
    font-size: 15px;
    height: 35px;
    cursor: pointer;

}
.SidebarOptions:hover{
  color: white;
}

.sidebar__icons{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px; 
}

.sidebar__icons:hover{
    color:white;
    cursor:pointer;
   
}




