.sidebar{
    border: 2px solid black;
    height: 100vh;
    flex: 0.2;
    background-color: black;
    color: white;

}
.sidebar__logo {
    transform: translate(50%,50%);
    height: 40px;
    margin-bottom: 22px;
}

.sidebar__heading{
    font-size: 20px;
    margin-top: 30px;
    padding-left: 10px;
}

.sidebar> hr{
    margin-left: 10px;
    margin-right: 10px;
 
 }
 